doctype 5
html

    head

        title Mapbox

        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        
        script(src='/vendor/underscore/underscore-min.js')
        script(src='/lib/mapbox/mapbox.js')
        script(src='/vendor/angular/angular.min.js')
        
        link(href='/lib/mapbox/mapbox.css',rel='stylesheet')
        link(href='/css/public/map.css',rel='stylesheet')

    body(class=viewClasses, ng-app='webzine')

        div#map(ng-controller='mapbox')

            wz-map(posts='posts', bounds='bounds', post-selected='postSelected', on-post-clicked='onClick(post)')

        script(src='/mapbox-app.js')
        script(src='/wz-map.js')
        script(src='/mapbox.js')