extends layout

block content

    //- wz-map#main-map-container(
    //-     posts='posts',
    //-     bounds='bounds',
    //-     post-selected='postSelected',
    //-     on-post-clicked=''
    //- )
    div.view-animate-container
        div.view-animate(ng-view)