extends ../layout

block subcontent

    div
        h1 test email
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut tincidunt massa. Nullam volutpat consequat erat. Vivamus non felis sed felis mattis rutrum. Integer libero mi, egestas non bibendum a, laoreet eget nibh. Phasellus venenatis, augue eu aliquam dapibus, arcu nibh aliquam sem, ac eleifend lectus risus vitae dolor. In sodales elit nibh, a ultricies erat. Cras pretium interdum dictum. Suspendisse quis erat ac nunc dapibus condimentum. Nullam in magna sem, in mollis nisi. Maecenas et quam nulla, nec sodales tellus. Sed ut mollis ante. Morbi consectetur, urna in fringilla rutrum, elit felis tempor magna, sed egestas turpis mauris eget urna. Sed mollis faucibus nunc, eget mollis metus sagittis ut. Phasellus id ante non nulla consequat tincidunt.
        | Praesent id neque dui. Integer dapibus pharetra dapibus. Nulla a orci felis, eget ornare ipsum. Vestibulum sit amet diam sed nulla egestas eleifend. Quisque gravida mauris sit amet risus semper at tempor purus ullamcorper. Proin neque tellus, venenatis eu ultrices eu, interdum eu est. Vivamus leo metus, pharetra vel consectetur eu, aliquam at nisl. Cras tempor nibh vel quam sollicitudin non lacinia massa interdum. Quisque porttitor auctor risus, quis condimentum elit malesuada vitae. Duis vestibulum, nunc eu semper auctor, neque metus pellentesque velit, quis fringilla felis orci a nisl. Vivamus pulvinar, leo id porta ultricies, metus augue porttitor massa, at pharetra diam mauris ac quam. 