arrow-base() {
    content: "\0020";
    display: block;
    width: 0;
    height: 0;
    border: 0 none;
    border-style: solid;
}

arrow-left(arrow-width, arrow-color) {
    arrow-base();
    border-width: arrow-width arrow-width arrow-width 0;
    border-color: transparent;
    border-right-color: arrow-color;
}

arrow-right(arrow-width, arrow-color) {
    arrow-base();
    border-width: arrow-width 0 arrow-width arrow-width;
    border-color: transparent;
    border-left-color: arrow-color;
}

arrow-up(arrow-width, arrow-color) {
    arrow-base();
    border-width: 0 arrow-width arrow-width arrow-width;
    border-color: transparent;
    border-bottom-color: arrow-color;
}

arrow-bottom(arrow-width, arrow-color) {
    arrow-base();
    border-width: arrow-width arrow-width 0 arrow-width;
    border-color: transparent;
    border-top-color: arrow-color;
}